.App {
  text-align: center;
}

.full-width {
    width: 100%;
}

.stock-list-scroll {
  height: 100vh;
  overflow-y: scroll;
}

.margin-top {
  margin-top: 20px;
}

.padding-lg {
  padding: 50px;
}

/* Overrider few classes for better placement  */
.row {
  margin-right: 0 !important;
}

.col-md-7,
.col-md-5 {
  padding-right: 0px !important;
}

.table td, .table th {
    padding: .40rem !important;
}
